[core]
	excludesfile = /Users/hyeonwook/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Hyeonwook
	email = hyeonwook.kim@navercorp.com
[commit]
	template = /Users/hyeonwook/.stCommitMsg
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	visual = !gitk
